In [132]:
import pandas as pd

In [175]:
n = int(input("Enter a non-negative integer number: "))
while n < 0:
  print() # does nothing if integer is negative

Enter a non-negative integer number: 5

In [176]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [177]:
odd

[1, 3, 5, 7, 9]

In [178]:
even

[0, 2, 4, 6, 8]

In [179]:
fibo

[0, 1, 1, 2, 3]

In [180]:
len(even) == len(odd) == len(fibo)

True

In [181]:
df = pd.DataFrame({"Even": even,
                  "Odd": odd,
                  "Fibonacci": fibo})
df

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2
4     8    9          3